<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' href="/img/icons8-partly-cloudy-day-48.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class = main-container>
        {{>header}}
        <img class="potrait" src="/img/IMG_20220723_125751-min-fotor-bg-remover-20230911104215.png" />
    </div>
    {{>footer}}
</body>
</html>
